header {
    -webkit-backface-visibility: hidden;
    -webkit-transition: background-color .25s;
    backface-visibility: hidden;
    background-color: #143b5b;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,.14),0 1px 5px 0 rgba(0,0,0,.12),0 3px 1px -2px rgba(0,0,0,.2);
    color: #fff;
    height: 5.6rem;
    left: 0;
    position: fixed;
    right: 0;
    top: 0;
    transition: background-color .25s;
    z-index: 2;
}

header nav {
    margin-left: auto;
    margin-right: auto;
    padding: .4rem;
    width: 100%;
}

header nav .nav-grid {
    display: table;
}

header nav .nav-grid > div {
    display: table-cell;
    position: relative;
    vertical-align: top;
}

header nav .nav-grid > div.stretch {
    display: table;
    table-layout: fixed;
    width: 100%;
}

header nav .logo {
    text-align: center;
    width: 300px;
}

header nav .logo a {
    -webkit-transition: opacity .25s;
    cursor: pointer;
    display: inline-block;
    font-size: 2.4rem;
    margin: .4rem;
    padding: .8rem;
    position: relative;
    transition: opacity .25s;
    z-index: 1;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.markdown-section img {
    border: 1px solid lightgray;
}

.markdown-section img.borderless {
    border: none;
}

body {
  padding-top: 5.6rem !important;
  text-rendering: auto !important;
}

.book-header {
  position: absolute;
  top: 0;
  width: 100%;
}

.page-wrapper {
  padding-top: 50px;
}
